html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-back{
    background-image: url("../JanBoulieProfilePage/images/electric_ballerinas.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.video-back{
    background-image: url("../JanBoulieProfilePage/images/big_sky_yellow_grass.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    background: height 100%;
    background-size: 119%;
}
.contact-back{
    background-image: url("images/steamy_tree.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.picture-back{
    background-image: url("images/sandy_rock.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    position:relative;
    display: flex;
    position:relative;
    width: 100%;
    height:auto;
}

nav{
    height:auto;
    width: 100%;
    position: static;
    display: flexbox;
    grid-template-rows: 1fr;
}

#mainPage{
    left:0;
    margin-left: 0;
    width: 100%;
}
.header-button {
    border-radius: 24px;
    color: #116dff;
    cursor: pointer;
    font-size: 14px;
    height: 0;
    left: 50%;
    margin-left: -94px;
    opacity: 0;
    padding: 0 24px 0 24px;
    pointer-events: none;
    position: absolute;
    top: 60px;
    width: 0;
    z-index: 100;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:rgb(70, 1, 181);
}

a:active{
    color: black;
}
a:visited{
    color:rgb(169, 0, 141);
}